/* high level styling */

$indentmargin: 10px;
$guttermargin: 5px;
$basefontsize: 100%;
$arrowdim: 50px;


html.narrow  {

    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;

    body {
        font-size: $basefontsize;
        // max-width: 480px;
        // min-width: 480px;
        // background: red;
        padding: 0px;
        margin: 0px;
        font-family: "Segoe WP", "Segoe UI", "Helvetica", sans-serif;
    }

    p, ul, h1, h2, h3 {
        margin: 0px 0px 12px 0px;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    ul li {
        list-style-type: none;
        background-image: url(../images/bullet.png);
        background-repeat: no-repeat;
        background-position: left top;
        padding-left: $indentmargin;
    }

    h1 {
        font-weight: normal;
        font-family: "Segoe WP", "Segoe UI", "Helvetica", sans-serif;
        font-size: 150%;
        /* font-size: 3em; */
        margin: 0px 5px 15px $guttermargin + $indentmargin;
        padding: 0px 0px 30px 0px;
    }

    h2 {
        font-weight: normal;
        font-size: 140%;
    }

    h3 {
        font-weight: normal;
        font-size: 120%;
    }

    img {
        border: 0px;
    }

    code {
        font-family: Consolas, Monaco, Monospace;
    }

    pre {
        margin-top: 5px;
        margin-bottom: 5px;
        code {
            font-size: 80%;
        }
    }


    ul li {
        margin-bottom: 10px;
    }

    ul.linklist > li {
        list-style-type: disc;
    }

    ul.compact > li {
        margin-bottom: 0px;
    }

    .apphide {
        display: none;
    }

    /* Page region stylings */

    div#mainbody {
        margin: 0px 30px 0px $guttermargin;
    }

    /* Nav styling */

    ul#nav {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        height: 2.3em;
        li {
            margin: 0px;
            padding: 0px 10px 0px 0px;
            float: left;
            a {
                text-decoration: none;
                color: #fff;
                padding: 20px 30px;
                margin: 0px 0px 0px 0px;
            }
        }
    }

    /* Glossary styling */
    
    dt {
        font-weight: bold;
    }
    
    dd {
        margin-left: $indentmargin;
    }
    
    /* Table styling used primarily on Linq-To-SQL page */
    
    table {
        border-spacing: 0px;
        margin: 0px 0px 10px $indentmargin;
        /* margin: 0px auto 10px auto; */
        caption {
            font-style: italic;
        }
        tr:first-child th {
            border-top: 2px solid black;
            border-bottom: 1px solid black;
        }
        tr:last-child td {
            border-bottom: 2px solid black;
        }
        td, th {
            padding-left: 1em;
        }
        th {
            font-weight: normal;
            text-align: center;
        }
    }
    
    /* Glossary link styling */
    a.glossaryterm {
        text-decoration: none;
        border-bottom: 2px dotted #999;
        color: black;
    }
    
    /* Some image containers */
    
    div.figure {
        margin: 15px 0px 0px 0px;
    }
    div.listimg {
        margin: 15px 0px 0px 0px;
    }
    
    /* Header stylings */
    
    div#header {
        color: #fff;
    }

    div#home-btn-img-container {
        float: left;
        width: $arrowdim;
        height: $arrowdim;
    }

    div#home-btn-txt-container {
        float: left;
        width: 250px;
        margin-left: $guttermargin;
    }
    
    div#home-btn {
        margin: 30px 0px 10px $guttermargin;
        padding: 30px 0px 0px 0px;
        overflow: hidden;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 110%;
        }
        img {
            width: $arrowdim;
            height: $arrowdim;
        }
    }
    
    /* Footer stylings */
    
    div#footer {
        font-size: 150%;
        img {
            width: $arrowdim;
            height: $arrowdim;
        }
    }
    
    div#backfooter {
        float: left;
        margin-left: $guttermargin;
        margin-bottom: $guttermargin;
        margin-top: 30px;
    }
    
    div#nextfooter {
        float: right;
        margin-right: $guttermargin;
        margin-bottom: $guttermargin;
        margin-top: 30px;
    }

}


