/* high level styling */

$indentmargin: 35px;
$guttermargin: 65px;
$basefontsize: 100%;
$arrowdim: 108px;


html.wide  {


    body {
        padding: 0px;
        margin: 0px;
        font-family: "Segoe UI", "Helvetica", sans-serif;
    }

    p, ul, h1, h2, h3 {
        margin: 0px 0px 12px 0px;
    }

    ul li {
        list-style-type: disc;
        margin-left: $indentmargin;
    }

    h1 {
        font-weight: normal;
        font-family: "Segoe UI Light", "Helvetica", sans-serif;
        font-size: 300%;
        /* font-size: 3em; */
        margin: 0px $guttermargin 15px $guttermargin + $indentmargin;
        padding: 0px 0px 30px 0px;
    }

    h2 {
        font-weight: normal;
        font-size: 150%;
    }

    h3 {
        font-weight: normal;
        font-size: 130%;
    }

    img {
        border: 0px;
    }

    code {
        font-family: Consolas, Monaco, Monospace;
    }

    pre {
        margin-top: 5px;
        margin-bottom: 5px;
        code {
            font-size: 80%;
        }
    }


    li {
        margin-bottom: 10px;
    }

    ul.linklist > li, ul.compact > li {
        margin-bottom: 0px;
        list-style-type: disc;
    }

    /* Page region stylings */

    div#mainbody {
        margin: 0px $guttermargin 0px $guttermargin;
    }

    /* Nav styling */

    ul#nav {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        height: 2.3em;
        li {
            margin: 0px;
            padding: 0px 10px 0px 0px;
            float: left;
            a {
                text-decoration: none;
                color: #fff;
                padding: 20px 30px;
                margin: 0px 0px 0px 0px;
            }
        }
    }

    /* Glossary styling */
    
    dt {
        font-weight: bold;
    }
    
    dd {
        margin-left: $indentmargin;
    }
    
    /* Table styling used primarily on Linq-To-SQL page */
    
    table {
        border-spacing: 0px;
        margin: 0px 0px 10px $indentmargin + 10px;
        /* margin: 0px auto 10px auto; */
        caption {
            font-style: italic;
        }
        tr:first-child th {
            border-top: 2px solid black;
            border-bottom: 1px solid black;
        }
        tr:last-child td {
            border-bottom: 2px solid black;
        }
        td, th {
            padding-left: 1em;
        }
        th {
            font-weight: normal;
            text-align: center;
        }
    }
    
    /* Glossary link styling */
    a.glossaryterm {
        text-decoration: none;
        border-bottom: 1px dotted #999;
        color: black;
    }
    
    /* Some image containers */
    
    div.figure {
        width: 50%;
        margin: 30px auto;
    }
    div.listimg {
        margin: 15px 0px 0px 0px;
    }
    
    /* Header stylings */
    
    div#header {
        color: #fff;
    }

    div#home-btn-img-container {
        float: left;
        width: $arrowdim;
        height: $arrowdim;
    }

    div#home-btn-txt-container {
        position: absolute;
        bottom: 0px;
        left: $arrowdim + 20px;
    }
    
    div#home-btn {
        position: relative;
        overflow: hidden;
        margin: 30px $guttermargin 0px $guttermargin;
        padding: 30px 0px 0px 0px;
        vertical-align: middle;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 150%;
        }
    }
    
    /* Footer stylings */
    
    div#footer {
        font-size: 150%;
    }
    
    div#backfooter {
        float: left;
        margin-left: $guttermargin;
        margin-bottom: $guttermargin;
        margin-top: 30px;
    }
    
    div#nextfooter {
        float: right;
        margin-right: $guttermargin;
        margin-bottom: $guttermargin;
        margin-top: 30px;
    }

}



