<!DOCTYPE html>
<html>
  <head>
    <title>
{% block title %}{% endblock %}
    </title>

    <script type="text/javascript">
    
    </script>

    <style type="text/css">
 
    </style>

  </head>
  <body>

  
  </body>
</html>
