/* high level styling */

body {
    padding: 0;
    margin: 0;
    /* padding: 10%; */
    /* font-family: "Lucida Sans Unicode", sans-serif; */
    font-family: "Segoe UI", "Helvetica", sans-serif;
    font-size: 1em;
}

h1 {
    font-weight: normal;
    font-family: "Segoe UI Light", "Helvetica", sans-serif;
    font-size: 3em;
    margin: 0px 30px 0px 100px;
    padding: 0px 0px 30px 0px;
}

h2 {
    font-weight: normal;
    font-size: 1.5em;
}

h3 {
    font-weight: normal;
    font-size: 1.3em;
}

img {
  border: 0px;
}

code {
  font-family: Consolas, Monaco, Monospace;
}

h2#tagline {
  margin: 0px 0px 0px 30px;
}

dt {
    font-weight: bold;
}

li {
    margin-bottom: 10px;
}

ul.linklist > li, ul.compact > li {
    margin-bottom: 0px;
}


/* Page region stylings */

div#mainbody {
  /* margin: 0px 30px 0px 30px; */
  /* margin: 0px 30px 0px 100px; */
  margin: 0px 30px 0px 65px;
}

/* Nav styling */

ul#nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 2.3em;
}
ul#nav > li {
    margin: 0px;
    padding: 0px 10px 0px 0px;
    float: left;
}
ul#nav > li > a {
    text-decoration: none;
    color: #fff;
    padding: 20px 30px;
    margin: 0px 0px 0px 0px;
    background: #F09609;
    /* background: #A200FF; */
    /* background: #004C9A; */
}



/* Table styling used primarily on Linw-To-SQL page */

table {
  border-spacing: 0px;
  margin: 0px 0px 10px 40px;
  /* margin: 0px auto 10px auto; */
}
  caption {
    font-style: italic;
  }
  table tr:first-child th {
      border-top: 2px solid black;
      border-bottom: 1px solid black;
  }
  table tr:last-child td {
      border-bottom: 2px solid black;
  }
  td, th {
    padding-left: 1em;
  }
  th {
    font-weight: normal;
    text-align: center;
  }

/* Glossary link styling */
a.glossaryterm {
  text-decoration: none;
  border-bottom: 1px dotted #999;
  color: black;
}

/* Some image containers */

div.figure {
    width: 50%;
    margin: 30px auto;
}
div.listimg {
  margin: 15px 0px 0px 0px;
}

/* Header stylings */

div#header {
    /* background: #A200FF; */
    /* background: #004C9A; */
    /* background: #1BA1E2; */
    /* background: #A05000; */
    /* background: #339933; */
    /* background: #E671B8; */
    /* background: #E51400; */
    /* background: #00ABA9; */
    /* background: #A2C139; */
    /* background: #D80073; */
    /* background: #F09609; */
    color: #fff;
}
div#home-btn {
    margin: 30px 0px 0px 30px;
    padding: 30px 0px 0px 0px;
    vertical-align: middle;
}
  div#home-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 30px;
  }

/* Footer stylings */

div#footer {
  font-size: 1.5em;
}
  div#footer span {
  }

  div#backfooter {
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  div#nextfooter {
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

